<ion-card>
  <ion-card-header>
    <ion-card-title>{{diary.dateWorkout | date: 'short'}}</ion-card-title>
    <ion-card-subtitle>{{getCategoryById(diary.id)}}</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    <ion-item>

      <ng-container *ngIf="screenType()=='BIG'">
        <ion-avatar>
          <ion-img src="{{getWorkoutImageById(diary.id)}}"></ion-img>
        </ion-avatar>
        <ion-text id="WorkoutName">
          {{'diary.lblWorkout' | translate}}: {{getWorkoutNameById(diary.id)}}
        </ion-text>
        
        <ion-text id="WorkoutRep">
          {{'diary.lblReps' | translate }}: {{diary.reps}}
        </ion-text>
  
        <ion-text id="WorkoutWeight">
          {{'diary.lblWeight' | translate}}: {{diary.weight}} Kg
        </ion-text>  
      </ng-container>
      <ng-container *ngIf="screenType()=='SMALL'">

        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="12" class="ion-align-self-center">
              <ion-img src="{{getWorkoutImageById(diary.id)}}"></ion-img>
            </ion-col>
            <ion-col size="12" class="ion-align-self-center">
              <ion-text id="WorkoutName">
                {{'diary.lblWorkout' | translate}}: {{getWorkoutNameById(diary.id)}}
              </ion-text>
            </ion-col>
            <ion-col size="9" class="ion-align-self-center">
              <ion-text id="WorkoutRep">
                {{'diary.lblReps' | translate }}: {{diary.reps}}
              </ion-text>
            </ion-col>
            <ion-col size="6"  class="ion-align-self-center">
              <ion-text id="WorkoutWeight">
                {{'diary.lblWeight' | translate}}: {{diary.weight}} Kg
              </ion-text>  
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
    </ion-item>
  </ion-card-content>

  <ion-button color="tertiary" (click)="onUpdateClick()"><ion-icon name="create-outline"></ion-icon></ion-button>
  <ion-button color="danger" (click)="onDeleteClick()"><ion-icon name="trash-outline"></ion-icon></ion-button>
</ion-card>
