ion-item{
    --background: transparent;
    --border-color: transparent;
    
}

ion-avatar{
    margin-right: 20px;
}

#WorkoutName{
    margin-right: 20px;
}
#WorkoutRep{
    margin-right: 20px;
}

#WorkoutPeso{
    margin-right: 20px;
}

ion-button{
    margin-left: 20px;
    margin-bottom: 20px;
}