<ion-accordion-group [multiple]="true" #accordion>
  <ion-accordion value="first">
    <ion-item slot="header" color="light">
      <ng-container *ngIf="selectedEquipment!=null">
        <ion-avatar class="equipment">
          <img *ngIf="!selectedEquipment?.image" alt="Silhouette of a Equipment's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          <img *ngIf="selectedEquipment?.image" alt="Task picture" [src]="selectedEquipment?.image" />
        </ion-avatar>
        <ion-label>{{selectedEquipment?.name_equipment}}</ion-label>
      </ng-container>
      <ion-label *ngIf="!selectedEquipment">Selecciona un Equipamiento</ion-label>
    </ion-item>
    <div class="ion-padding" slot="content">
      <ion-list>
        <ion-item *ngFor="let equipment of (getEquipment() | async)" button detail  (click)="onEquipmentClicked(equipment, accordion)">
          <ion-avatar class="equipment">
            <img *ngIf="!equipment.image" alt="Silhouette of a Task's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            <img *ngIf="equipment.image" alt="Task picture" [src]="equipment.image"/>
          </ion-avatar>
          <ion-label>{{equipment.name_equipment}}</ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-accordion>
</ion-accordion-group>