<ion-header>
  <ion-toolbar>
    <ion-title slot="end">{{'formDiary.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <app-date-selectable formControlName="dateWorkout"></app-date-selectable>
      <app-exercise-selectable formControlName="idWorkout"></app-exercise-selectable>
      <ion-item>
        <ion-label position="floating">
          {{'diary.lblReps' | translate }}
        </ion-label>
        <ion-input type="number" placeholder="{{'formDiary.placeholderReps' | translate}}" formControlName="reps"></ion-input>
        <ion-label position="floating">
          {{'diary.lblWeight' | translate}}
        </ion-label>
        <ion-input type="number" placeholder="{{'formDiary.placeholderWeight' | translate}}" formControlName="weight"></ion-input>
      </ion-item>
      <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?['formGeneral.btn_update' | translate]:['formGeneral.btn_add' | translate]}}</ion-button>
    </form>
</ion-content>