<ion-header>
  <ion-toolbar>
    <ion-title slot="end">{{'workout.title' | translate}}</ion-title>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/">Return to Home</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col *ngFor="let workout of getWorkout() | async"  size="9" size-sm="6" class="ion-align-self-center">
        <app-exercise [workout]="workout" (onUpdate)="onUpdateWorkout($event)" (onDelete)="onDeleteWorkout($event)"></app-exercise>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" >
    <ion-fab-button color="tertiary" (click)="onAddWorkout()"><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
