<ion-header>
  <ion-toolbar>
    <ion-title slot="end">{{'aboutme.title'| translate}}</ion-title>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/">Return to Home</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--Pc Type-->
  <ng-container *ngIf="screenType()=='BIG'">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card color="dark" class="aboutmeCardBig">
            <ion-card-header>
              <ion-img src="../../../assets/aboutme/aboutmeImage.jfif"></ion-img>

              <ion-card-title>{{'Jose Antonio Benitez Ruiz' | uppercase}}</ion-card-title>
              <ion-card-subtitle>{{'aboutme.card_subtitle'| translate}}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content class="ion-text-justify">
              <ion-text> {{'aboutme.card_content' | translate}}</ion-text>
            </ion-card-content>
          </ion-card>
        </ion-col>
        <ion-col>
          <ion-card color="dark" class="groupMuscular">
            <ion-card-subtitle id="Titles">{{'aboutme.tip' | translate}}</ion-card-subtitle>
            <ion-card-content>
              <ion-list>
                  <ion-item color="dark">
                    <ion-label>{{'groupMuscular.upperbodyfront' | translate}} - {{'aboutme.one_week' | translate}} </ion-label>
                  </ion-item>
                  <ion-item color="dark">
                    <ion-label>{{'groupMuscular.upperbodyback' | translate}} - {{'aboutme.one_or_twoweek' | translate}}</ion-label>
                  </ion-item>
                  <ion-item color="dark">
                    <ion-label>{{'groupMuscular.lowerbody' | translate}} - {{'aboutme.one_or_twoweek' | translate}}</ion-label>
                  </ion-item >
                  <ion-item color="dark">
                    <ion-label>{{'groupMuscular.armsbody' | translate}} - {{'aboutme.one_or_twoweek' | translate}}</ion-label>
                  </ion-item>
                  <ion-item color="dark">
                    <ion-label>{{'groupMuscular.corebody' | translate}} - {{'aboutme.two_or_threeWeek' | translate}}</ion-label>
                  </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
          <ion-card color="dark" class="hobbies">
            <ion-card-subtitle id="Titles">{{'aboutme.hobbies'| translate}}</ion-card-subtitle>
            <ion-card-content>
              <ion-text> {{'aboutme.textHobbie' | translate}}</ion-text>
            </ion-card-content>
          </ion-card>
          
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-img id="logoBig" src="../../../assets/icon/favicon.png"></ion-img>

    <ion-card class="Contact">
      <ion-card-subtitle id="Titles">{{'aboutme.contactme'| translate}}</ion-card-subtitle>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-button id="Contact" class="class-ionbutton"  href="https://www.linkedin.com/in/joseantoniobenitezruiz/" target="_blank">
                <ion-icon size="large" name="logo-linkedin"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col >
              <ion-button id="Contact" class="class-ionbutton"  href="https://es-es.facebook.com/" target="_blank">
                <ion-icon size="large" name="logo-facebook"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col>
              <ion-button id="Contact" class="class-ionbutton" href="https://github.com/JoseAntonioBenitez" target="_blank">
                <ion-icon  size="large"name="logo-github"></ion-icon>
              </ion-button>
              
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>  
  </ng-container>

  <!--Phone Type-->
  <ng-container *ngIf="screenType()=='SMALL'">
    <ion-content>
      <ion-slides pager="true" [options]="slideOpts">
        
        <ion-slide>
          <ion-card color="dark">
            <ion-card-subtitle id="Titles">{{'aboutme.tip' | translate}}</ion-card-subtitle>
            <ion-card-content>
              <ion-list>
                  <ion-item color="dark">
                    <ion-label>{{'groupMuscular.upperbodyfront' | translate}} - {{'aboutme.one_week' | translate}} </ion-label>
                  </ion-item>
                  <ion-item color="dark">
                    <ion-label>{{'groupMuscular.upperbodyback' | translate}} - {{'aboutme.one_or_twoweek' | translate}}</ion-label>
                  </ion-item>
                  <ion-item color="dark">
                    <ion-label>{{'groupMuscular.lowerbody' | translate}} - {{'aboutme.one_or_twoweek' | translate}}</ion-label>
                  </ion-item >
                  <ion-item color="dark">
                    <ion-label>{{'groupMuscular.armsbody' | translate}} - {{'aboutme.one_or_twoweek' | translate}}</ion-label>
                  </ion-item>
                  <ion-item color="dark">
                    <ion-label>{{'groupMuscular.corebody' | translate}} - {{'aboutme.two_or_threeWeek' | translate}}</ion-label>
                  </ion-item>
              </ion-list>
            </ion-card-content>
            <ion-card-subtitle id="Titles">{{'aboutme.hobbies'| translate}}</ion-card-subtitle>
            <ion-card-content>
              <ion-text> {{'aboutme.textHobbie' | translate}}</ion-text>
            </ion-card-content>
          </ion-card>
          
        </ion-slide>
        <ion-slide>
          <ion-card color="dark">
            <ion-card-header>
              <ion-img src="../../../assets/aboutme/aboutmeImage.jfif"></ion-img>

              <ion-card-title id="TitleSmall">{{'Jose Antonio Benitez Ruiz'}}</ion-card-title>
              <ion-card-subtitle>{{'aboutme.card_subtitle'| translate}}</ion-card-subtitle>
            </ion-card-header>
          
            <ion-card-content class="ion-text-justify">
              <ion-text> {{'aboutme.card_content' | translate}}</ion-text>
              <div id="contacts">
                <ion-button href="https://www.linkedin.com/in/joseantoniobenitezruiz/" target="_blank">
                  <ion-icon size="large" name="logo-linkedin"></ion-icon>
                </ion-button>

                <ion-button href="https://es-es.facebook.com/" target="_blank">
                  <ion-icon size="large" name="logo-facebook"></ion-icon>
                </ion-button>
                  
                <ion-button href="https://github.com/JoseAntonioBenitez" target="_blank">
                  <ion-icon  size="large"name="logo-github"></ion-icon>
                </ion-button>

              </div>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-content>
  </ng-container>
  <!--Tablet Type-->
    <ng-container *ngIf="screenType()=='MEDIUM'">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card color="dark" class="aboutmeCardMedium">
              <ion-card-header>
                <ion-img src="../../../assets/aboutme/aboutmeImage.jfif"></ion-img>
  
                <ion-card-title>{{'Jose Antonio Benitez Ruiz' | uppercase}}</ion-card-title>
                <ion-card-subtitle>{{'aboutme.card_subtitle'| translate}}</ion-card-subtitle>
              </ion-card-header>
            
              <ion-card-content class="ion-text-justify">
                <ion-text> {{'aboutme.card_content' | translate}}</ion-text>
              </ion-card-content>
            </ion-card>
          </ion-col>
          <ion-col>
            <ion-card color="dark" class="groupMuscularMedium">
              <ion-card-subtitle id="Titles">{{'aboutme.tip' | translate}}</ion-card-subtitle>
              <ion-card-content>
                <ion-list>
                    <ion-item color="dark">
                      <ion-label>{{'groupMuscular.upperbodyfront' | translate}} - {{'aboutme.one_week' | translate}} </ion-label>
                    </ion-item>
                    <ion-item color="dark">
                      <ion-label>{{'groupMuscular.upperbodyback' | translate}} - {{'aboutme.one_or_twoweek' | translate}}</ion-label>
                    </ion-item>
                    <ion-item color="dark">
                      <ion-label>{{'groupMuscular.lowerbody' | translate}} - {{'aboutme.one_or_twoweek' | translate}}</ion-label>
                    </ion-item >
                    <ion-item color="dark">
                      <ion-label>{{'groupMuscular.armsbody' | translate}} - {{'aboutme.one_or_twoweek' | translate}}</ion-label>
                    </ion-item>
                    <ion-item color="dark">
                      <ion-label>{{'groupMuscular.corebody' | translate}} - {{'aboutme.two_or_threeWeek' | translate}}</ion-label>
                    </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
            <ion-card color="dark" class="hobbiesMedium">
              <ion-card-subtitle id="Titles">{{'aboutme.hobbies'| translate}}</ion-card-subtitle>
              <ion-card-content>
                <ion-text> {{'aboutme.textHobbie' | translate}}</ion-text>
              </ion-card-content>
            </ion-card>
            
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-img id="logo" src="../../../assets/icon/favicon.png"></ion-img>


      <ion-card class="ContactMedium">
        <ion-card-subtitle id="Titles">{{'aboutme.contactme'| translate}}</ion-card-subtitle>
        <ion-card-content>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button id="Contact" class="class-ionbutton" href="https://www.linkedin.com/in/joseantoniobenitezruiz/" target="_blank">
                  <ion-icon size="large" name="logo-linkedin"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col >
                <ion-button id="Contact" class="class-ionbutton"  href="https://es-es.facebook.com/" target="_blank">
                  <ion-icon size="large" name="logo-facebook"></ion-icon>
                </ion-button>
              </ion-col>
              <ion-col>
                <ion-button id="Contact" class="class-ionbutton" href="https://github.com/JoseAntonioBenitez" target="_blank">
                  <ion-icon  size="large"name="logo-github"></ion-icon>
                </ion-button>
                
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>  


    </ng-container>
</ion-content>
