.list-md{
    background-color: transparent;
}


.aboutmeCardBig{
    width: 50%;
    margin: auto;
}

.aboutmeCardSmall{
    margin: auto;
}

#Hobbies{
    padding-top: 10px;
    text-align: center;
}

ion-text{
    text-align: justify;
}

.list-ios {
    background-color: transparent;
}