<ion-item>
    <ng-container *ngIf="equipment?.image">
      <ion-avatar>
        <ion-img [src]="equipment?.image" ></ion-img>
      </ion-avatar>
    </ng-container>

    <ng-container *ngIf="!equipment?.image">
      <ion-avatar>
        <ion-img src="https://ionicframework.com/docs/img/demos/avatar.svg"></ion-img>
      </ion-avatar>
    </ng-container>
    
    <ion-label>
      {{equipment?.name_equipment}}
    </ion-label>

    <ion-button color="tertiary" id="edit" (click)="onUpdateClick()"><ion-icon name="create-outline"></ion-icon></ion-button>
    <ion-button color="danger" id="delete"(click)="onDeleteClick()"><ion-icon name="trash-outline"></ion-icon></ion-button>
</ion-item>

