<ion-header>
  <ion-toolbar>
    <ion-title slot="end">{{'formEquipment.title' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="onDismiss()">X</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" (keyup.enter)="onSubmit()">
      <ion-item>
        <ion-label position="floating">
          {{'form.etq_name' | translate}}
        </ion-label>
        <ion-input type="text" placeholder="{{'formEquipment.placeholderName' | translate}}" formControlName="name_equipment"></ion-input>
      </ion-item>
      
      <ion-button [disabled]="!form.valid" type="submit">{{mode=="Edit"?['formGeneral.btn_update' | translate]:['formGeneral.btn_add' | translate]}}</ion-button>

      <ion-img src="../../../../assets/ImagesForm/EquipmentForm2.png" ></ion-img>
    </form>
</ion-content>
