// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #85e6c0;
	--ion-color-primary-rgb: 133,230,192;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #75caa9;
	--ion-color-primary-tint: #91e9c6;

	--ion-color-secondary: #6bb39b;
	--ion-color-secondary-rgb: 107,179,155;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #5e9e88;
	--ion-color-secondary-tint: #7abba5;

	--ion-color-tertiary: #09d3ee;
	--ion-color-tertiary-rgb: #09d3ee;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #0d9bad;
	--ion-color-tertiary-tint: #1d8997;

	--ion-color-success: #0bc184;
	--ion-color-success-rgb: 11,193,132;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #0aaa74;
	--ion-color-success-tint: #23c790;

	--ion-color-warning: #ff810a;
	--ion-color-warning-rgb: 255,129,10;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0,0,0;
	--ion-color-warning-shade: #e07209;
	--ion-color-warning-tint: #ff8e23;

	--ion-color-danger: #ae0909;
	--ion-color-danger-rgb: 174,9,9;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #990808;
	--ion-color-danger-tint: #b62222;

	--ion-color-medium: #7dbfa7;
	--ion-color-medium-rgb: 125,191,167;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0,0,0;
	--ion-color-medium-shade: #6ea893;
	--ion-color-medium-tint: #8ac5b0;

	--ion-color-light: #f7f4e8;
	--ion-color-light-rgb: 247,244,232;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0,0,0;
	--ion-color-light-shade: #d9d7cc;
	--ion-color-light-tint: #f8f5ea;

}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #85e6c0;
    --ion-color-primary-rgb: #85e6c0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #11e28f;
    --ion-color-primary-tint: #50e9ac;

    --ion-color-secondary: #6bb39b;
    --ion-color-secondary-rgb: #6bb39b;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #32a881;
    --ion-color-secondary-tint: #11ac78;

    --ion-color-tertiary: #136449;
    --ion-color-tertiary-rgb: #136449;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: #136449;
    --ion-color-tertiary-shade: #0a4f64;
    --ion-color-tertiary-tint: #136449;

    --ion-color-success: #2fdf75;
    --ion-color-success-rgb: 47,223,117;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0,0,0;
    --ion-color-success-shade: #29c467;
    --ion-color-success-tint: #44e283;

    --ion-color-warning: #ffd534;
    --ion-color-warning-rgb: 255,213,52;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0,0,0;
    --ion-color-warning-shade: #e0bb2e;
    --ion-color-warning-tint: #ffd948;

    --ion-color-danger: #ae0909;
    --ion-color-danger-rgb: 255,73,97;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255,255,255;
    --ion-color-danger-shade: #ae0909;
    --ion-color-danger-tint: #ae0909;

    --ion-color-dark: #0b823a;
    --ion-color-dark-rgb: 244,245,248;
    --ion-color-dark-contrast: #ffffff;
    --ion-color-dark-contrast-rgb: 0,0,0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #75a285;
    --ion-color-medium-rgb: 152,154,162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0,0,0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #94f9a0;
    --ion-color-light-rgb: 34,36,40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255,255,255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #6bb39b;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #f7f4e8 ;
    --ion-text-color-rgb: #f7f4e8 ;

    --ion-color-step-50:  #136449; //Toolbar background color
    --ion-color-step-100: #6bb39b;
    --ion-color-step-150: #136449; //Toolbar background color
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #ffffff;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #6bb39b;

    --ion-card-background: #023f2b;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #6bb39b;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #f7f4e8 ;
    --ion-text-color-rgb: #f7f4e8 ;

    --ion-border-color: #222222;

    --ion-color-step-50:  #136449; //Toolbar background color
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #136449; //Toolbar background color
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #ffffff;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #6bb39b;

    --ion-toolbar-background: #136449;

    --ion-tab-bar-background: #03442e;

    --ion-card-background: #023f2b;
  }
}