<ion-header [translucent]="true"></ion-header>

<ion-content [fullscreen]="true">
  
  <div id="container">
      <ion-img src="../assets/LogoTrident.png" alt="MusclesFit's logo Trident"></ion-img>
      
      <ion-button [routerLink]="['../exercises']">Workouts</ion-button>
      <ion-button [routerLink]="['../dailyworkout']">Diary</ion-button>
      <ion-button [routerLink]="['../dailyworkout']">Equipment</ion-button>
      <ion-button [routerLink]="['../dailyworkout']">Category</ion-button>
      <ion-button [routerLink]="['../dailyworkout']">About Me</ion-button>
      
  </div>
  
</ion-content>
