<ion-header>
  <ion-toolbar>
    <ion-title slot="end">{{'equipment.title' | translate}}</ion-title>
    <ion-buttons>
      <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <app-equipment-item *ngFor="let equipment of getEquipment() | async" [equipment]="equipment" (onUpdate)="onUpdateEquipment($event)" (onDelete)="onDeleteEquipment($event)"></app-equipment-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end"  slot="fixed" >
    <ion-fab-button color="tertiary" (click)="onAddEquipment()"><ion-icon style="zoom:2" name="add-outline"></ion-icon></ion-fab-button>
  </ion-fab>
</ion-content>
